*{
    margin: 0%;
}

/* RISING SUN */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.sun {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(201,201,209);
    display: block;
    margin-left:300px;
    position: relative;
    top: 750px;
    z-index: 4;
	box-shadow:
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
    animation-duration: 100s;
    animation-fill-mode: forwards;
    /* animation-delay: 2s; */
    /* WHY IS THIS NOT DELAYING? */
	animation:
		sunrise 30s linear forwards,
		rays 2s infinite linear;
}


@keyframes sunrise {
	0% {
		box-shadow: none;
	}
    from {background-color: #FFDE00;}

    to {transform: translateY(-1000px);
        background-color: #FFDE00;}
}

@keyframes rays {
	0% {
		box-shadow: 
		0 0 0 0 #FFDE0080,
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 40px 100px #FFDE0010;
	}
	100% {
		box-shadow: 
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	}
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */




/* BACKGROUND COLOR */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#saltanat{
    background-color: black;
    animation-name: to_day;
    animation-duration: 14s;
    animation-fill-mode: forwards;
    z-index: -1;
    height: 100vh;
  }

  @keyframes to_day {
    0%   {background-color: black}
    /* 30%  {background-color: black} */
    40%  {background-color: rgb(193, 77, 110);}
    50%  {background-color: rgb(187, 129, 166);}
    60% {background-color: rgb(144, 153, 177);}
    70% {background-color: rgb(114, 171, 192);}
    100% {background-color: rgb(119, 194, 235);}
  }
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */





/* GROUND */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#monet_grass_img_div_ab{
    width: 100%;
    height: 40%;

}
#monet_grass_img_ab{
    width: 100%;
    height: 100%;
    margin-top: 7rem;
    position: absolute;
    z-index: 5;
    /* animation: img_opacity 4s forwards; */
}
/* 
@keyframes img_opacity {
    from {opacity: 0;}
    to {opacity: 1;}
} */


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */









/* SELF PORTAIT */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



.self_portrate_img{
    height: 300px;
    width: 250px;
    margin: 10px 0 0 10px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */




/* INFO */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.info{
    height: 375px;
    width: 800px;
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.2);
    /* Why wont this stay? */
    backdrop-filter: blur(6px);
    position: absolute;
    top: 50px;
    right: 100px;
    box-shadow: 4px 4px 4px 1px black;
    z-index: 7;
}

.about_me_text{
    text-indent: 50px;
    margin: 10px;
    flex-wrap: wrap;
    color: whitesmoke;
    font-family: 'Raleway', monospace;
    font-size: 25px;
}

.about_me_header{
    margin: 10px;
    color: whitesmoke;
    font-family: 'Raleway', monospace;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.info-sub-title{
    font-family: 'Raleway', monospace;
    text-decoration: underline;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */





/* BIRDS */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.bird {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    transform: background-position;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
    z-index: 10;
}
.bird--one {
    animation-duration: 1s;
    animation-delay: -0.5s;
    z-index: 10;
}
.bird--two {
    animation-duration: 0.9s;
    animation-delay: -0.75s;
    z-index: 10;
}
.bird--three {
    animation-duration: 1.25s;
    animation-delay: -0.25s;
    z-index: 10;
}
.bird--four {
    animation-duration: 1.1s;
    animation-delay: -0.5s;
    z-index: 10;
}
.bird-container {
    position: absolute;
    top: 20%;
    left: -10%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;
    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 10;
}
.bird-container--one {
    animation-duration: 15s;
    animation-delay: 0;
    z-index: 10;
}
.bird-container--two {
    animation-duration: 16s;
    animation-delay: 1s;
    z-index: 10;
}
.bird-container--three {
    animation-duration: 14.6s;
    animation-delay: 9.5s;
    z-index: 10;
}
.bird-container--four {
    animation-duration: 16s;
    animation-delay: 10.25s;
    z-index: 10;
}
@keyframes fly-cycle {
    100% {
        background-position: -900px 0;
   }
}
@keyframes fly-right-one {
    0% {
        transform: scale(0.3) translateX(-10vw);
   }
    10% {
        transform: translateY(2vh) translateX(10vw) scale(0.4);
   }
    20% {
        transform: translateY(0vh) translateX(30vw) scale(0.5);
   }
    30% {
        transform: translateY(4vh) translateX(50vw) scale(0.6);
   }
    40% {
        transform: translateY(2vh) translateX(70vw) scale(0.6);
   }
    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.6);
   }
    60% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
   }
    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
   }
}
@keyframes fly-right-two {
    0% {
        transform: translateY(-2vh) translateX(-10vw) scale(0.5);
   }
    10% {
        transform: translateY(0vh) translateX(10vw) scale(0.4);
   }
    20% {
        transform: translateY(-4vh) translateX(30vw) scale(0.6);
   }
    30% {
        transform: translateY(1vh) translateX(50vw) scale(0.45);
   }
    40% {
        transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
   }
    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.45);
   }
    51% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
   }
    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
   }
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



/* ============================================================= */

/* STARS AND SPACE */

@keyframes move-twink-back_ab {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back_ab {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back_ab {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back_ab {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back_ab {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back_ab {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back_ab {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back_ab {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}


.stars_ab, .twinkling_ab, .clouds_ab {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  animation: fade_out_night 3s forwards;
}

.stars_ab {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
  animation: fade_out_night 3s forwards;
}

.twinkling_ab{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
  animation: fade_out_night 3s forwards;
}

.clouds_ab{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
  animation: fade_out_night 3s forwards;
}
/* monet tree painting? */

@keyframes fade_out_night {
    from {opacity: 1}
    to {opacity: 0}
}