*{
    margin: 0%;
}

/* RISING SUN */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.sun {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(201,201,209);
    display: block;
    margin: 0 auto;
    position: relative;
    top: 600px;
	box-shadow:
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
    animation-duration: 100s;
    animation-fill-mode: forwards;
    animation-delay: 10s;
    /* WHY IS THIS NOT DELAYING? */
	animation:
		sunrise 100s infinite linear forwards,
		rays 2s 2s infinite linear;
}


@keyframes sunrise {
	0% {
		box-shadow: none;
	}
    from {background-color: #FFDE00;}

    to {transform: translateY(-1000px);
        background-color: #FFDE00;}
 

}

@keyframes rays {
	0% {
		box-shadow: 
		0 0 0 0 #FFDE0080,
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 40px 100px #FFDE0010;
	}
	100% {
		box-shadow: 
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	}
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */




/* BACKGROUND COLOR */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
body {
    background-color: rgb(201,201,209);
    animation-name: to_day;
    animation-duration: 30s;
    animation-fill-mode: forwards;
  }

  @keyframes to_day {
    0%   {background-color: rgb(201,201,209)}
    30%  {background-color: black}
    40%  {background-color: rgb(193, 77, 110);}
    50%  {background-color: rgb(187, 129, 166);}
    60% {background-color: rgb(144, 153, 177);}
    70% {background-color: rgb(114, 171, 192);}
    100% {background-color: rgb(119, 194, 235);}
  }
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */





/* GROUND */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#monet_grass_img_div{
    width: 100%;
    height: 40%;
    margin: 0%;
}
#monet_grass_img{
    width: 100%;
    height: 100%;
    margin: 0%;;
    position: absolute;
    z-index: 5;
    animation: img_opacity 4s forwards;
}

@keyframes img_opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */









/* SELF PORTAIT */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.self_portrate{
    height: 300px;
    width: 250px;
    background: blue;
    position: absolute;
    top: 80px;
    left: 100px;
}
.self_portrate_img{
    height: 300px;
    width: 250px;
}





/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */







/* monet tree painting? */

/* 
get bird flying */