/* HOME */
/*//////////////////////////////////////////////////////////////////////////////*/
.front_page_container{
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: 40rem;
  height: 20rem;
  margin-top: 10rem;
  border: red 1px solid;
}
